@{
    ViewBag.Title = "About";
}
<h2>Welcome to booking application!</h2>
<h3>Documents needed:</h3>

<p>
    Documents needed for <b>Car registration</b>: <br />
    - registration request <br />
    - ID card <br />
    - car insurance <br />
    - stamp tax paid <br />
</p>
<p>
    Documents needed for <b>ID or Passport:</b> <br />
    - passport or Id request <br />
    - birth certificate <br />
    - stamp tax paid <br />
</p>
<p>
    Documents needed for <b>Driver license</b>: <br />
    - driver license request <br />
    - ID card <br />
    - medical certificate <br />
    - stamp tax paid <br />
</p>
<p>
    Documents needed for <b>Car deletion</b>: <br />
    - car elimination request <br />
    - ID card <br />
    - car plates <br />
    - registration certificate <br />
    - stamp tax paid <br />
</p>