@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online booking</h1>
    <p class="lead">Feel free to choose your booking! </p>
    <div style="text-align:center">
    @using (Html.BeginForm("Booking", "Booking", FormMethod.Post, new { style = "display:inline;" }))
    {
        <input id="btn" type="submit" value="Car registration" class="btn btn-primary btn-lg" style="background-color:#084B8A; height:150px;width:150px;white-space: normal"/>
    }
    @using (Html.BeginForm("IdentificationCardOrPassport", "IdentificationCardOrPassport", FormMethod.Post, new { style = "display:inline" }))
    {
        <input id="btn" type="submit" value="ID card or passport registration" class="btn btn-primary btn-lg" style="background-color:#084B8A; height:150px;width:150px;white-space: normal; margin-left: 10px;" />
    }
@*</div>
<div style="text-align:center">*@
    @using (Html.BeginForm("DriverLicense", "DriverLicense", FormMethod.Post, new { style = "display:inline" }))
    {
        <input id="btn" type="submit" value="Driver license registration" class="btn btn-primary btn-lg" style="background-color:#084B8A; height:150px;width:150px;white-space: normal; margin-left: 10px;"/>
    }
    @using (Html.BeginForm("CarDeletion", "CarDeletion", FormMethod.Post, new { style = "display:inline" }))
    {
        <input id="btn" type="submit" value="Vehicle deletion" class="btn btn-primary btn-lg" style="background-color:#084B8A; height:150px;width:150px;white-space: normal; margin-left: 10px;" />
    }
</div>
</div>


@*<input type="button" value="Register car booking" onclick="location.href='@Url.Action("Booking", "Booking")'" />
    <input type="button" value="ID card or passport booking" onclick="location.href='@Url.Action("Booking", "Booking")'" />
    <input type="button" value="Driver license booking" onclick="location.href='@Url.Action("Booking", "Booking")'" />
    <input type="button" value="Register car booking" onclick="location.href='@Url.Action("Booking", "Booking")'" />*@