@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-12 margin-top-20">
		<div class="jumbotron">

			<h1>AnswerFeed</h1>
			<p class="lead">
				AnswerFeed is an application that allows you to create assignments, tests, quizzes, feedback papers for
				students and employees. Bassed on those can be generated feedback reports, students can monitor their progress and work.
		</div>
	  </div>
</div>
